<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <ul style="list-style-type: none">
      <a href="/emp/home">
        <button
          style="
            font-size: 25px;
            background-color: gray;
            color: lightblue;
            border-radius: 25px;
          "
        >
          Employee Management Application
        </button>
      </a>
    </ul>
  </body>
</html>
